.speech{
    font:600;
    size: 0em;
    color:black;

}
.direction{
    font: bold;
    size: 0cm;
    background-color: bisque;
    color: black;

}
.direction:hover{
    background-color: yellow;
    color: aquamarine;
}
.name{
    font:600;
    size: 0em;
    color:black;
}
.name:hover{
    color:rgb(221, 101, 181);
    text-shadow: 10px orangered;
    border:solid greenyellow;
    
}
.MonsieurJourdain{
    color: blueviolet;

}
.DancingMaster{
    color: blanchedalmond;
}
.OnsieurJourdain{
    color: brown;

}
.MusicMaster{
    color: rgb(188, 143, 178);
}
.table,
th
{
    color:red;
    border: solid slategray;
    border-collapse: collapse;
    text-align: center;
    margin: 500px ;
    padding: 5px;
    background-color:azure;
}
td{
    color:blueviolet;
    border: 200px black;
    text-align: center;
    margin: 50px;
    padding: 5px;
    background-color: bisque;
}

