.speech{
    font:600;
    size: 0em;
    color:black;

}
.direction a.hover{
    font: bold;
    size: 0cm;
    background-color: bisque;
    color: black;

}
.name{
    font:600;
    size: 0em;
    color:black;


}
